{% if template.name == 'index' %}
    <div class="homepage-banner">
        <div class="banner-left">
            <small>{{ settings.homepage_banner_small_text }}</small>
            <h1>{{ settings.homepage_banner_main_title }}</h1>
            <p>{{ settings.homepage_banner_description }}</p>
            <a href="{{ settings.homepage_banner_button_link }}" class="btn-primary">
                {{ settings.homepage_banner_button_text }}
                {% include 'icon-arrow-up-right' %}
            </a>
        </div>
        <div class="banner-right">
            {% if settings.homepage_banner_right_image %}
                <img src="{{ settings.homepage_banner_right_image | img_url: 'master' }}" alt="Banner Image" />
            {% else %}
                <img src="{{ 'placeholder.jpg' | asset_url }}" alt="Placeholder Image" />
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="page-banner">
        <h1>{{ page_title }}</h1>
    </div>
{% endif %}