<header class="site-header" style="background-color: {{ settings.header_background_color }};">
  {% include 'top-bar' %}
  <div class="container">
    <nav class="site-nav">
      <button class="hamburger-menu">
        {% include 'icon-hamburger' %}
      </button>
      <div class="logo">
        <a href="{{ shop.url }}">
          {% if settings.logo_image %}
            <img src="{{ settings.logo_image | img_url: 'master' }}" alt="{{ shop.name }}" style="width: {{ settings.logo_width }}px; height: {{ settings.logo_height }}px;" />
          {% else %}
            <span style="font-size: {{ settings.logo_height / 2 }}px; line-height: {{ settings.logo_height }}px;">
              {{ settings.logo_text }}
            </span>
          {% endif %}
        </a>
      </div>
      <div class="header-icons">
        <a href="/cart" class="cart-icon">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="cart-count">
            {{ cart.item_count | default: 0 }}
          </span>
        </a>
        <a href="/account" class="account-icon">
          <i class="fa-solid fa-user"></i>
        </a>
      </div>
    </nav>
    <div class="main-nav-menu" id="main-nav-menu">
      <button class="close-menu">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <ul>
        {% for link in linklists.main-menu.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% include 'banner' %}
  </div>
</header>